version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/node:8

    working_directory: ~/repo

    steps:
      - checkout
      - run:
          name: install yarn
          command: 'sudo npm install -g yarn --quiet'
      - run:
          name: yarn install
          command: 'yarn install --pure-lockfile --no-progress'
      - run:
          name: test
          command: 'yarn test'
      - run:
          name: build
          command: 'run build:prod'
      - store_artifacts:
          path: dist
